/* General styles for the container */
.App{
  position: relative;
  height: 100vh;
  
}
.Lapp {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Styling the row containing the SignUp/Login toggle */
.row {
  position: absolute;
  top: 0px;
  margin-top: 40px;
  left: 50%;
  width: 250px;
  transform: translateX(-50%);
  display: flex;
  background: #3E42A6;
  padding: 10px;
  justify-content: center;
  border-radius: 1rem;
  z-index: 1; /* Ensure it stays above the video */
}

.pointer, .activeColor {
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: 550;
  cursor: pointer;
  color: white;
  transition: all 1.5s ease;
  height: 40px;
  display: flex;
  align-items: center;
}

.activeColor {
  color: #3E42A6;
  background: white;
  border: 1px solid #3E42A6;
  border-radius: 15px;
}

.pointer {
  border-bottom: 2px solid transparent;
}

/* Form heading */
h2 {
  color: #333;
  padding: 10px;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-top: 50px; /* Adds some space between the form and the row */
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  border-color: #3E42A6;
  outline: none;
  box-shadow: 0 0 5px #3E42A6;
}

button {
  width: 40%;
  padding: 10px;
  background-color: #3E42A6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.g{
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items:center ;
  background: #fff;
  cursor: pointer;
  border-radius: 1rem;
  color: #3E42A6;
  gap: 10px;
  border: #3E42A6 solid 1px ;
}
.gb{
  width: 20px;
  height: 20px;
}
.footer{
  margin: 10px;
  cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .Lapp {
    padding: 20px;
  }

  form {
    width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .pointer, .activeColor {
    margin-bottom: 10px;
    height: auto;
  }
}
