@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

footer {
  background-color: #3E42A6;
  color: white;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}
.foottit{
  font-size: 20px;
  margin-left: -20px;
  font-weight: 900;
}


.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section p, .footer-section a {
  color: white;
  text-decoration: none;
}
.footer-section a {
  /* Base styles for the link */
  transition: all 0.5s ease-in-out; /* Adds a 0.5s smooth transition effect for all properties */
}
.footer-section a:hover { 
  color: #6582f6;
  text-shadow: 2px 2px 5px black; /* Adds a subtle shadow effect */
}


.social-icons { 
  margin: 20px;
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icons a {
  color: white;
  font-size: 1.5rem;
}

.footer-bottom {
  background-color: #3E42A6;
  padding: 10px 0;
  margin-bottom: -20px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
