* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: #3E42A6;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: white;
}

/* Navbar Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 30px;
}

.logoname {
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

nav a {
  text-align: center;
  margin: 0 0.5rem;
  color: var(--textColor);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  font-size: 1rem;
}

nav a:hover {
  color: var(--mainColor);
  font-weight: 550;
  background: white;
  border-radius: 5px;
}

/* Toggle Buttons */
.nav-btn {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  font-size: 1.8rem;
  display: none; 
}

.nav-close-btn {
  display: none; 
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-1,
.btn-2 {
  width: max-content;
  padding: 10px;
  padding-inline: 20px;
  height: 50px;
  border-radius: 5px;
  background: rgb(253, 252, 252);
  color: #3E42A6;
  gap: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
}

#faicon {
  height: 20px;
  width: 20px;
}

.btn-1:hover,
.btn-2:hover {
  background-color: #3E42A6;
  color: white;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
  border: solid 1px white;
}

.small {
  margin-left: 5px;
  font-size: 16px;
}
/*menubar*/
.profile{
  background: #FFFFFF;
  color: #3E42A6;
  padding: 10px;
  padding-inline: 20px;
  border-radius: 10px;  
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative; /* So that the dropdown is positioned relative to the profile */
  display: flex;
  cursor: pointer;
}
.profile span{
  font-weight: bold;
}
.profile-initial {
  width: 30px;
  height: 30px;
  background-color: #3E42A6;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; 
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.profile-dropdown {
  display: none; 
  position: absolute;
  top: 100%;
  right: 2;
  margin: 2px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.80);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  z-index: 1;
}

.profile-dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-dropdown ul li {
  padding: 12px 16px;
  cursor: pointer;
}

.profile-dropdown ul li:hover {
  background-color: #FFFFFF;
  border-radius: 10px;
  font-weight: bold;
}

/* Show the dropdown when hovering over the profile */
.profile:hover .profile-dropdown {
  display: block;
}


/* Mobile Responsive Navbar */
@media only screen and (max-width: 1024px) {
  .nav-btn {
    display: block;
    height: 50px;
    width: 20px;
     /* Show toggle buttons in mobile view */
  }

  nav {
    position: fixed;
    top: -100vh;
    right:  0;
    height: 50%;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mainColor);
    transition: transform 0.5s ease-in-out;
    z-index: 999;
  }

  nav.responsive_nav {
    transform: translateY(100vh); /* Slide down navigation on toggle */
  }

  .nav-close-btn {
    display: block; /* Show close button in mobile view */
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
  }

  nav a {
    font-size: 1.5rem;
    margin: 10px;
  }
  .logo-image{
    width: 50px;
    position: absolute;
    height: 50px;
    margin-right: 20px;
    left: 20px;
  }
  .logoname{
    width: 100px;
    margin-left: 50px;
  }
 
  #faicon{
    height: 25px;
    width: 25px;
  }
  .small{
    display: none;
  }
  .btn-1,.btn-2{
    width: fit-content;
    height: fit-content;
  }
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

