@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

footer {
  background-color: #3E42A6;
  color: white;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}
.foottit{
  font-size: 20px;
  margin-left: -20px;
  font-weight: 900;
}


.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section p, .footer-section a {
  color: white;
  text-decoration: none;
}
.footer-section a {
  /* Base styles for the link */
  transition: all 0.5s ease-in-out; /* Adds a 0.5s smooth transition effect for all properties */
}
.fimage{
  float: center;
  display: inline;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}


.social-icons { 
  margin: 20px; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-icons a {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  height: 40px;
  background: white;
  color: #3E42A6;
  border-radius: 50%;

  width: 40px;

}
.social-icons a:hover{
  background: white;
  color: #3E42A6;
  border-radius: 50%;
  box-shadow: 0px 2px 2px white;
  padding: 5px 5px 5px 5px;

}


.footer-bottom {
  background-color: #3E42A6;
  padding: 10px 0;
  margin-bottom: -20px;
}

@media (max-width: 460px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  
}
