/*-------Admin login--------*/

.adlog {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px #050505 ;
}

.adcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 425px;
  padding: 30px 40px 0px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: #050505 0px 4px 4px 0px;
  backdrop-filter: blur(20px);
}

.adcont div {
  margin-bottom: 15px;
  width: 100%;
}

.adcont label {
  display: block;
  margin-bottom: 5px;
}

.adcont input {
  width: 80%;
  padding: 8px;
  text-align: center;

  box-sizing: border-box;
}

.adcont button {
  width: 60%;
  padding: 10px;
  background-color: #3E42A6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.adcont button:hover {
  background-color: #007bff;
}
.chg-pass {
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  margin-top: 20px ; /* Centers the element horizontally */
  cursor: pointer;
  
  display: inline-block; /* Ensures margin works properly */
}
.bck{
  display: inline-block;
  color: #FFFFFF;
  text-shadow: 1px 1px black;
  margin: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  font-weight: 550;
}

@media only screen and (max-width: 480px) {
  #bg1, #bg2 {
    height: 120px;
    width: 120px;
    font-size: 16px;
  }

  #bg2img {
    height: 40px;
    width: 40px;
  }

  #bg2span {
    font-size: 16px;
  }
}



  