.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    height: 100vh;
    padding-top: 100px;
}

.messages-container {
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    margin-bottom: 4rem;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: #cdcdcd 2px 2px;
}

.message-content {
    max-width: 80%;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.message-content strong {
    display: block;
    color: #3E42A6;
    font-size: 1rem;
}

.message-content p {
    color: #030303;
}

.timestamp {
    font-size: 0.6rem;
    color: #888;
}

/* Message form styling */
.message-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}
.mf1{
    width: 80%;
}

.message-input {
    font-size: 1rem;
    width: 100%;
    height: 40px;
    margin-inline: 10px;
}
.mf2{
    width: 100px;
    margin-left: 20px;
}

.image-upload-label {
    cursor: pointer;
}

.send-button {
    font-size: 1rem;
    width: 100px;
    height: 40px;
    margin-inline: 10px;
    cursor: pointer;
}

.uploaded-image {
    max-width: 150px;
    margin-top: 5px;
    border-radius: 8px;
}

.emoji-picker {
    position: absolute;
    bottom: 50px; 
    right: 20px; 
    z-index: 10; 
    margin-bottom: 5px; 
}

.attachment {
    position: relative;
    display: flex;
    align-items: center;
}

.attachment button,
.attachment label {
    cursor: pointer;
}

.ic{
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 1px;
    margin-inline: 10px;
    fill: #3E42A6;
   
}
.ic2{
    width: 40px;
    height: 23px;
    fill: #3E42A6;  
    cursor: pointer;



}
.mf3{
    width: 125px;
    margin-right: 20px;
}

@media only screen and (max-width: 480px) {
    .message-form{
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 0;
    }
    .message-input{
        display: block;
        width: 220px;
        margin-left: -5px;
    }
    .mf2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -5px;
    }
    .ic2, .ic{
        width: 25px;
        height: 20px;
        gap: 0px;
        margin-inline: 0px;
        color: #3E42A6;
    }
    .ic2{
        margin-top: -5px;
    }
    .send-button{
        width: 60px;
        height: 35px;
    }
}