.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    height: 100vh;
    padding-top: 100px;
}

.messages-container {
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1;
    margin-bottom: 4rem;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: #cdcdcd 2px 2px;
}

.message-content {
    max-width: 80%;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.message-content strong {
    display: block;
    color: #3E42A6;
    font-size: 1rem;
}

.message-content p {
    color: #030303;
}

.timestamp {
    font-size: 0.6rem;
    color: #888;
}

/* Message form styling */
.message-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #f1f1f1;
    width: 80%;
    margin: 0 auto;
}

.message-input {
    font-size: 1rem;
    width: 80%;
    height: 40px;
    margin-inline: 10px;
}

.image-upload-label {
    cursor: pointer;
}

.send-button {
    font-size: 1rem;
    width: 10%;
    height: 40px;
    margin-inline: 10px;
    cursor: pointer;
}

.uploaded-image {
    max-width: 150px;
    margin-top: 5px;
    border-radius: 8px;
}

.emoji-picker {
    position: absolute;
    bottom: 50px; 
    right: 20px; 
    z-index: 10; 
    margin-bottom: 5px; 
}

.attachment {
    position: relative;
    display: flex;
    align-items: center;
}

.attachment button,
.attachment label {
    cursor: pointer;
}

.ic{
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 10px;
    margin-inline: 10px;
    fill: #3E42A6;
    background: #ffffff;
    border-radius: 50%;
}