.post-event-page {
    padding: 5px;
    text-align: center;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.event-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;
    text-align: left;
}

.event-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-details {
    padding: 5px;
}

.event-date {
    display: block;
    background:  #3736368d;
    color: white;
    padding: 2px;
    font-size: 14px;
    border-radius: 4px;
    
}
.event-location{
    font-size: 12px;
    color: rgb(65, 65, 65);
}
.event-title{
    display: block;


}

