.post-event-page {
    padding: 5px;
    text-align: center;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.event-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;
    text-align: left;
}

.event-photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}

.event-details {
    padding: 5px;
}

.event-date {
    display: block;
    color: black;
    padding: 2px;
    font-size: 14px;
    border-radius: 4px;
    
}
.event-location{
    font-size: 12px;
    color: #3E42A6;
    font-weight: 600;
    display: block;
    border-radius: 4px;
    background: #ffffff;
}
.event-title{
    display: block;
    background: #3E42A6;
    color: #ffffff;
    font-size: 16px;
    border-radius: 4px;
    padding: 1px 2px 1px 5px;
}
.act-btn{
    background: #ffffff;
    color: #3E42A6;
    width: 100%;
}
.act-btn:hover{
    background: #3E42A6;
    color: #ffffff;
}
